@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

 {

}

body {
    text-align: center;
    background-image: url("../img/memento_mori_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: 100;
    background-position: center;
    height: 100vh;
    overflow-y: hidden;
    background: black;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Overpass Mono';
    flex-direction: column;
}

h1 {
    color: red;
    font-weight: 100;
    font-size: 6em;
    font-family: 'Overpass Mono';
    margin-bottom: 1.5em;
}

p {
    margin-top: 300px;
    font-family: 'Shadows Into Light';
    font-size: 1em;
    padding: 20px;
    border-radius: 50px;
    background: #493F3C;
    display: none;
}

h2 {
    margin-top: 30px;
    font-family: 'Shadows Into Light';
    font-size: 1.2em;
    padding: 30px;
    border-radius: 50px;
    background: #493F3C;
    display: none;
}

#clockdiv {
    font-family: 'Overpass Mono', 'ZCOOL QingKe HuangYou', cursive;
    /* color: #fff; */
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 25px;
    margin-bottom: 7em;
}

#clockdiv>div {
    padding: 10px;
    border-radius: 10px;
    /* background: #785D4D; */
    display: inline-block;
}

#clockdiv div>span {
    padding: 15px;
    border-radius: 3px;
    /* background: #493F3C; */
    display: inline-block;
    color: red;
    font-size: 5em;
}

.smalltext {
    padding-top: 5px;
    font-size: 2em;
    color: red;
}

@media(max-width: 94em) {

}

@media(max-width: 74em) {
    body {
        font-size: .6em;
    }

    h1 {
        margin-top: -2em;
        margin-bottom: 3.5em;
    }



}

@media(max-width: 47em) {

    body {
        font-size: .4em;
        height: 100%;
    }


    #clockdiv {
        display: flex;
        flex-direction: column;
    }

    h1 {
        margin-bottom: 0.5em;
        margin-top: 1em;
    }

    #clockdiv {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    #clockdiv div>span {
        padding-bottom: 0.5em;
    }
}

@media(max-width: 25em) {

    body {
        font-size: .35em;
        height: 100%;
    }


    #clockdiv {
        display: flex;
        flex-direction: column;
    }

    #clockdiv span {
        margin-bottom: -1em;
    }


    h1 {
        margin-bottom: 0.5em;
        margin-top: 1em;
    }

    #clockdiv {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    #clockdiv div>span {
        padding-bottom: 0.5em;
    }
}